{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">讨论版</li>
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>板块</th>
            <th>帖子数</th>
            <th>主题数</th>
            <th>最后发帖时间</th>
        </tr>
        </thead>
        <tbody>
        {% for board in boards %}
            <tr>
                <td>
                    <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                    <small class="text-muted d-block">{{ board.description }}</small>
                </td>
                <td class="align-middle">0</td>
                <td class="align-middle">0</td>
                <td class="align-middle"> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

