{% extends 'base_accounts.html' %}

{% block title %}重置密码{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">重置密码</h3>
                    <p>注册邮箱将收到一封取回密码的确认邮件.如未收到,请检查垃圾邮件.</p>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">返回登录</a>
                </div>
            </div>
        </div>
  </div>
{% endblock %}